{% extends 'index.html' %} {% load static %}

{% block content %}
    <div class="wrapper">
        <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('{% static 'images/project.jpg' %}');">
			<div class="filter"></div>
        </div>
        <div class="section">
            <div class="container-fluid">
                <div class="row">
                    <div class="tim-title text-center">
                        <h1>Projects</h1>
                    </div>
                </div>
                <form method="get">
                <div class="row align-center">
                    <div class="col-md-4">
                        <div class="tim-title">
                            <h2>Ψάχνετε για..</h2>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                {% if search_name %}
                                    <input name="search_name" type="text" class="form-control" value="{{ search_name }}" placeholder="{{ search_name }}">
                                {% else %}
								<input name="search_name" type="text" class="form-control" placeholder="Αναζήτηση">
                                {% endif %}
							</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="tim-title">
                                    <h3>Κατηγορίες</h3>
                                </div>
                                {% for category in categories %}
                                    {% if category.id|stringformat:"s" in cate_name %}
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input onclick="this.form.submit()" checked name="cate_name" class="form-check-input" type="checkbox" value="{{ category.id }}">
                                                {{ category }}
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    {% else %}
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input onclick="this.form.submit()" name="cate_name" class="form-check-input" type="checkbox" value="{{ category.id }}">
                                                {{ category }}
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="row">
                            {% for project in object_list %}
                                <div class="col-md-6">
                                    <div class="card card-profile card-plain">
                                        <div class="image-container">
                                            <a href="{{ project.get_absolute_url }}">
                                                {% if project.image %}
                                                <img class="img-rounded img-responsive img-shadow" src="{{ project.image.url }}" alt="{{ project.title }}">
                                                {% else %}
                                                <img class="img-rounded img-responsive img-shadow" src="{% static 'images/no_image.png' %}" alt="{{ project.title }}">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="{{ project.get_absolute_url }}">
                                                <div class="author">
                                                    <h4 class="card-title">{{ project }}</h4>
                                                    <h6 class="card-category">{{ project.category.first }}</h6>
                                                </div>
                                            </a>
                                            <p class="card-description text-center">
                                                {{ project.first_page_text|safe }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1">First</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                        </li>
                                    {% endif %}

                                    <li class="page-item active">
                                        <a class="page-link" href="#"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.<span class="sr-only">(current)</span></a>
                                    </li>

                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}