{% extends 'tim/index.html' %} {% load static %}


{% block banner %}
    <div class="page-header header-filter" data-parallax="true" style="height:600px;background-image: url('{% static 'crossfit/functional.jpg' %}');">

    </div>

{% endblock %}

{% block content %}
    <div class="main">
		<div class="profile-content">

            <div class="container-fluid">
                <h2 class="text-center">Το Σημερινό Πρόγραμμα {{ date|date }}</h2>
                <div class="row">
                    {% for exe in featured_exercises %}
                        <div class="col-md-5 ml-auto mr-auto">

                            <div class="card">
                                <div class="card-body ">
                                    <h6 class="card-category text-danger">
                                        <i class="material-icons">workout</i> {{ exe.category }}
                                    </h6>
                                    <h4 class="card-title">
                                        <a href="{% url 'projects:view' exe.slug %}">
                                            {% for item in exe.projectitems_set.all %}
                                                {{ item.reps }} {{ item.get_reps_type_display }} {{ item.title }} <br>
                                            {% endfor %}
                                        </a>
                                    </h4>
                                     <a href="{% url 'projects:view' exe.slug %}"><img class="card-img-top small" src="{{ exe.image.url }}"></a>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                 </div>
            </div>

            <div class="row">
                <div class="container-fluid full-width-image"></div>
            </div>

            <div class="description text-center">
                <h2 class="text-center">Δείτε όλα τα προγράμματα</h2>
            </div>

            <div id='content-f' class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3 ml-auto mr-auto">
                    <form method="get">
                        <div class="card card-refine card-plain ">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Φίλτρα
                                    <a href="{% url 'projects:home' %}#content-f" class="btn btn-default btn-fab btn-fab-mini btn-link pull-right" rel="tooltip" title="" data-original-title="Reset Filter">
                                        <i class="material-icons">cached</i>
                                    </a>
                                </h4>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <input name="search_name" type="text" class="form-control"{% if search_pro %}
                                           placeholder="{{ search_pro }}" value="{{ search_pro }}"
                                    {% else %}placeholder="Αναζήτηση"{% endif %}>
                                </div>
                                <div id="accordion" role="tablist">
                                    <div class="card card-collapse">

                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Κατηγορίες
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </a>
                                            </h5>
                                        </div>

                                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="card-body">
                                                {% for category in categories %}
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input name="cate_name" {% if category.id|stringformat:"s" in cate_name %} checked {% endif %}
                                                                    class="form-check-input" type="checkbox" value="{{ category.id }}">
                                                            {{ category }}
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card card-collapse">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Ασκήσεις
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                {% for category in exercises %}
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input name="exe_name" class="form-check-input"
                                                                   type="checkbox" value="{{ category.id }}"
                                                            {% if category.id|stringformat:"s" in exe_name %} checked{% endif %}
                                                            >
                                                            {{ category }}
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary">Αναζήτησε!</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-7">
                    {% for project in object_list %}
                        <div class="card">
                            <div class="card-body ">
                                <h6 class="card-category text-danger">
                                    <i class="material-icons">gym</i> {{ project.category }}
                                </h6>
                                <h4 class="card-title">
                                    <a href="#pablo">{{ project }}</a>
                                    {% for ele in project.projectitems_set.all %}
                                        {{ ele }},
                                    {% endfor %}
                                </h4>
                            </div>
                            <div class="card-footer ">
                                <div class="author">
                                    <a href="{% url 'projects:view' project.slug %}">
                                        <p>Δείτε το πρόγραμμα</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>


{% endblock %}