<!doctype html>{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Crossfit Test</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	{% include 'include_css.html' %}
</head>
<body>
    {% include 'html_parts/navbar.html' %}

        {% block content %}
		<div class="page-header" data-parallax="true" style="background-image: url('{% static 'images/slider.jpg' %}');">
			<div class="filter"></div>
			<div class="container">
			    <div class="motto text-center">
			        <h1>simpy-chris.com</h1>
			        <h3>Δημιουργία Προσωπικών ιστιοσελίδων</h3>
			        <br />
			        <a href="" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Cost Creator</a>
			        <button type="button" class="btn btn-outline-neutral btn-round">Projects</button>
			    </div>
			</div>
    	</div>
        <div class="main">
			<div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Projects</h2>
                        <h5 class="description">
                            Ένα μικρό δείγμα μερικώv έτοιμων site.</h5>
                        <br>
                        <a href="{% url 'projects:home' %}" class="btn btn-danger btn-round">Λεπτομεριες</a>
                    </div>
                </div>
				<br/><br/>
				<div class="row">
                    {% for project in projects %}
					<div class="col-md-3">
						<div class="info">
							<div class="image">
								<img width="250" height="200" class="img-responsive img-shadow"
                                {% if project.image %}
                                     src="{{ project.image.url }}">
                                {% else %}
                                    src="{% static 'images/no_image.png' %}">
                                {% endif %}
							</div>
							<div class="description">
								<h4 class="info-title">{{ project }}</h4>
								<p class="description">{{ project.first_page_text }}</p>
								<a href="#pkp" class="btn btn-link btn-danger">See more</a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

            </div>
        </div>

		    <div class="section section-dark text-center">
            <div class="container">
                <h2 class="title">Δείτε τις τελευτέες αναρτήσεις στο Blog </h2>
				<div class="row">
                    {% for blog in blogs %}
    				    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="{{ blog.get_absolute_url }}"><img src="{{ blog.image.url }}" alt="..."></a>
                            </div>
                            <div class="card-body">
                                <a href="{{ blog.get_absolute_url }}">
                                    <div class="author">
                                        <h4 class="card-title">{{ blog }}</h4>
                                        <h6 class="card-category">{{ blog.timestamp }}</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                {{ blog.first_page_text|safe }}
                                </p>
                            </div>
                        </div>
    				</div>
                    {% endfor %}
    			</div>
        	</div>
    	</div>

            <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">About</h2>
                        <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
                        <br>
                        <a href="#paper-kit" class="btn btn-danger btn-round">Υπολογισμος κοστους</a>
                    </div>
                </div>
				<br/><br/>
				<div class="row">

                    <div class="col">
                        <h2>Weight</h2>
                        <table class="table table-bordered table-responsive">
                            <h4 class="text-center">Date 12-8-2017, Rounds 1, Max Time 20 min</h4>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th colspan="2">Reps</th>
                                    <th colspan="2">Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Back Squad</td>
                                    <td colspan="2">10-8-6-4-2</td>
                                    <td colspan="2">Use max</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Shoulder Press</td>
                                    <td colspan="2">10-8-6-4-2</td>
                                    <td colspan="2">Use max</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Deadlift</td>
                                    <td colspan="2">10-8-6-4-2</td>
                                    <td colspan="2">Use max</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                <div class="col">
                    <h2>Gymnastics</h2>
                    <table class="table table-bordered table-responsive">
                            <h4 class="text-center">Date 12-8-2017, Rounds 5, Max Time 20 min</h4>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th colspan="2">Reps</th>
                                    <th colspan="2">Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Squats</td>
                                    <td colspan="2">60 sec</td>
                                    <td colspan="2">Last 15 sec rest</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Pulls Up</td>
                                    <td colspan="2">60 sec</td>
                                    <td colspan="2">Last 15 sec rest</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Burbies</td>
                                    <td colspan="2">60 sec</td>
                                    <td colspan="2">Last 15 sec rest</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% endblock %}
	<footer class="footer section-dark">
		<div class="container">
			<div class="row">
				<nav class="footer-nav">
					<ul>
						<li><a href="https://www.creative-tim.com">Creative Tim</a></li>
						<li><a href="http://blog.creative-tim.com">Blog</a></li>
						<li><a href="https://www.creative-tim.com/license">Licenses</a></li>
					</ul>
				</nav>
				<div class="credits ml-auto">
					<span class="copyright">
						© <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
					</span>
				</div>
			</div>
		</div>
	</footer>
</body>

{% include 'include_js.html' %}

</html>
