{% load static %}

<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

<link rel="stylesheet" href="{% static 'assets/css/material-kit.css' %}">


<style>
    .full-width-image {
      height: 300px; // your specified height;
      background: url("{% static 'crossfit/functional.jpg' %}") no-repeat center center fixed;
      background-size: cover;
    }

    .full-width-image-wod {
      height: 300px; // your specified height;
      background: url("{% static 'crossfit/crossbanner.jpg' %}") no-repeat center center fixed;
      background-size: cover;
    }
</style>

